In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [133]:
#loading the data
loan = pd.read_excel(r"C:\akshay\Data Science Final Project\XYZCorp_LendingData1.xlsx")

In [134]:
loan.issue_d = pd.to_datetime(loan.issue_d)
loan.dtypes

id                                      int64
member_id                               int64
loan_amnt                               int64
funded_amnt                             int64
funded_amnt_inv                       float64
term                                   object
int_rate                              float64
installment                           float64
grade                                  object
sub_grade                              object
emp_title                              object
emp_length                             object
home_ownership                         object
annual_inc                            float64
verification_status                    object
issue_d                        datetime64[ns]
pymnt_plan                             object
desc                                   object
purpose                                object
title                                  object
zip_code                               object
addr_state                             object
dti                                   float64
delinq_2yrs                             int64
earliest_cr_line               datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_acc                                int64
pub_rec                                 int64
                                    ...
last_pymnt_d                   datetime64[ns]
last_pymnt_amnt                       float64
next_pymnt_d                   datetime64[ns]
last_credit_pull_d             datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                       object
annual_inc_joint                      float64
dti_joint                             float64
verification_status_joint              object
acc_now_delinq                          int64
tot_coll_amt                          float64
tot_cur_bal                           float64
open_acc_6m                           float64
open_il_6m                            float64
open_il_12m                           float64
open_il_24m                           float64
mths_since_rcnt_il                    float64
total_bal_il                          float64
il_util                               float64
open_rv_12m                           float64
open_rv_24m                           float64
max_bal_bc                            float64
all_util                              float64
total_rev_hi_lim                      float64
inq_fi                                float64
total_cu_tl                           float64
inq_last_12m                          float64
default_ind                             int64
Length: 73, dtype: object

In [135]:
#making the copy of orignal file
loan_copy = pd.DataFrame.copy(loan)

In [136]:
# to know about the no of column and rows
loan_copy.shape

(855969, 73)

In [137]:
#To get only half dataset
half_count = len(loan_copy) / 2 
 ## Drop column's with more than 50% missing values
loan_copy= loan_copy.dropna(thresh=half_count,axis=1)
loan_copy.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaT,2016-01-01,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaT,2013-09-01,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,1
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaT,2016-01-01,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaT,2015-01-01,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,2016-02-01,2016-01-01,0.0,1,INDIVIDUAL,0,NaN,NaN,NaN,0

In [138]:
# to know about the no of column and rows
loan_copy.shape

(855969, 52)

In [139]:
#loan_copy.isnull().sum()
loan_copy.dtypes

id                                     int64
member_id                              int64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                  object
int_rate                             float64
installment                          float64
grade                                 object
sub_grade                             object
emp_title                             object
emp_length                            object
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                       datetime64[ns]
pymnt_plan                            object
purpose                               object
title                                 object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line              datetime64[ns]
inq_last_6mths                         int64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                           float64
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
next_pymnt_d                  datetime64[ns]
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med           float64
policy_code                            int64
application_type                      object
acc_now_delinq                         int64
tot_coll_amt                         float64
tot_cur_bal                          float64
total_rev_hi_lim                     float64
default_ind                            int64
dtype: object

In [140]:
loan_copy.isnull().sum()

id                                 0
member_id                          0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
installment                        0
grade                              0
sub_grade                          0
emp_title                      49444
emp_length                     43061
home_ownership                     0
annual_inc                         0
verification_status                0
issue_d                            0
pymnt_plan                         0
purpose                            0
title                             34
zip_code                           0
addr_state                         0
dti                                0
delinq_2yrs                        0
earliest_cr_line                   0
inq_last_6mths                     0
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                       446
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                    8862
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                50
collections_12_mths_ex_med        56
policy_code                        0
application_type                   0
acc_now_delinq                     0
tot_coll_amt                   67313
tot_cur_bal                    67313
total_rev_hi_lim               67313
default_ind                        0
dtype: int64

In [141]:
loan_copy = loan_copy.drop(["last_credit_pull_d","next_pymnt_d","last_pymnt_d","id","member_id"], axis = 1)

In [142]:
for x in loan_copy[:]:
    if loan_copy[x].dtype=='object':
            loan_copy[x].fillna(loan_copy[x].mode()[0],inplace=True)
    elif loan_copy[x].dtype=='int64' or loan_copy[x].dtype=='float64':
            loan_copy[x].fillna(loan_copy[x].mean(),inplace=True)
            
loan_copy.isnull().sum()
loan_copy.shape

(855969, 47)

In [143]:
loan_copy['grade'] = loan_copy['grade'].replace({'A':7,'B':6,'C':5,'D':4,'E':3,'F':2,'G':1})
loan_copy["home_ownership"] = loan_copy["home_ownership"].replace({"MORTGAGE":6,"RENT":5,"OWN":4,"OTHER":3,"NONE":2,"ANY":1})
loan_copy["emp_length"] = loan_copy["emp_length"].replace({'years':'','year':'',' ':'','<':'','\+':'','n/a':'0'}, regex = True)
loan_copy["emp_length"] = loan_copy["emp_length"].apply(lambda x:int(x))
print("Current shape of dataset :",loan_copy.shape)
loan_copy.head()

Current shape of dataset : (855969, 47)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
0,5000,5000,4975.0,36 months,10.65,162.87,6,B2,Teacher,10,...,0.00,171.62,0.0,1,INDIVIDUAL,0,225.412882,139766.247529,32163.574526,0
1,2500,2500,2500.0,60 months,15.27,59.83,5,C4,Ryder,1,...,1.11,119.66,0.0,1,INDIVIDUAL,0,225.412882,139766.247529,32163.574526,1
2,2400,2400,2400.0,36 months,15.96,84.33,5,C5,Teacher,10,...,0.00,649.91,0.0,1,INDIVIDUAL,0,225.412882,139766.247529,32163.574526,0
3,10000,10000,10000.0,36 months,13.49,339.31,5,C1,AIR RESOURCES BOARD,10,...,0.00,357.48,0.0,1,INDIVIDUAL,0,225.412882,139766.247529,32163.574526,0
4,3000,3000,3000.0,60 months,12.69,67.79,6,B5,University Medical Group,1,...,0.00,67.79,0.0,1,INDIVIDUAL,0,225.412882,139766.247529,32163.574526,0

In [105]:


"""
colname = [
    
"loan_amnt",
"funded_amnt",
"funded_amnt_inv",
"term",
"int_rate",
"installment",
"annual_inc",
"issue_d",
"dti",
"delinq_2yrs",
"earliest_cr_line",
"inq_last_6mths",
"open_acc",
"pub_rec",
"revol_bal",
"revol_util",
"total_acc",
"out_prncp",
"out_prncp_inv",
"total_pymnt",
"total_pymnt_inv",
"total_rec_prncp",
"total_rec_int",
"total_rec_late_fee",
"recoveries",
"collection_recovery_fee",
"last_pymnt_amnt",
"collections_12_mths_ex_med",
"policy_code",
"acc_now_delinq",
"tot_coll_amt",
"tot_cur_bal",
"total_rev_hi_lim",
"default_ind"
]

## Preproccessig of data using sklearn library/Converting cat data to numeric

from sklearn import preprocessing

le = preprocessing.LabelEncoder()

for x in colname:

    loan_copy[x] =le.fit_transform(loan_copy[x])
    
loan_copy.head()
"""

'\ncolname = [\n    \n"loan_amnt",\n"funded_amnt",\n"funded_amnt_inv",\n"term",\n"int_rate",\n"installment",\n"annual_inc",\n"issue_d",\n"dti",\n"delinq_2yrs",\n"earliest_cr_line",\n"inq_last_6mths",\n"open_acc",\n"pub_rec",\n"revol_bal",\n"revol_util",\n"total_acc",\n"out_prncp",\n"out_prncp_inv",\n"total_pymnt",\n"total_pymnt_inv",\n"total_rec_prncp",\n"total_rec_int",\n"total_rec_late_fee",\n"recoveries",\n"collection_recovery_fee",\n"last_pymnt_amnt",\n"collections_12_mths_ex_med",\n"policy_code",\n"acc_now_delinq",\n"tot_coll_amt",\n"tot_cur_bal",\n"total_rev_hi_lim",\n"default_ind"\n]\n\n## Preproccessig of data using sklearn library/Converting cat data to numeric\n\nfrom sklearn import preprocessing\n\nle = preprocessing.LabelEncoder()\n\nfor x in colname:\n\n    loan_copy[x] =le.fit_transform(loan_copy[x])\n    \nloan_copy.head()\n'

In [144]:
#converting ['issue_d'] into the datetime format 

loan_copy.issue_d=pd.to_datetime(loan_copy.issue_d)
col_name = 'issue_d'
print(loan_copy[col_name].dtype)

datetime64[ns]

In [145]:
#pre-processing
colname=[]
for x in loan_copy.columns[:]:
    if loan_copy[x].dtype=='object':
        colname.append(x)
colname

['term',
 'sub_grade',
 'emp_title',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'initial_list_status',
 'application_type']

In [146]:
#LABEL ENCODING

from sklearn import preprocessing

le=preprocessing.LabelEncoder()

for x in colname:
    loan_copy[x]=le.fit_transform(loan_copy[x].astype(str))

loan_copy.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
0,5000,5000,4975.0,0,10.65,162.87,6,6,222429,10,...,0.00,171.62,0.0,1,0,0,225.412882,139766.247529,32163.574526,0
1,2500,2500,2500.0,1,15.27,59.83,5,13,186157,1,...,1.11,119.66,0.0,1,0,0,225.412882,139766.247529,32163.574526,1
2,2400,2400,2400.0,0,15.96,84.33,5,14,222429,10,...,0.00,649.91,0.0,1,0,0,225.412882,139766.247529,32163.574526,0
3,10000,10000,10000.0,0,13.49,339.31,5,10,3160,10,...,0.00,357.48,0.0,1,0,0,225.412882,139766.247529,32163.574526,0
4,3000,3000,3000.0,1,12.69,67.79,6,9,235302,1,...,0.00,67.79,0.0,1,0,0,225.412882,139766.247529,32163.574526,0

In [147]:
#split the data

split_date = "2015-06-01"
xyz_train=loan_copy.loc[loan_copy['issue_d'] < split_date]
xyz_train=xyz_train.drop(['issue_d'],axis=1)
xyz_train.shape   #(598978, 39)

(598978, 46)

In [148]:
xyz_test=loan_copy.loc[loan_copy['issue_d'] >= split_date]
xyz_test=xyz_test.drop(['issue_d'],axis=1)
xyz_test.shape #(256991, 39)

(256991, 46)

In [149]:

X_train=xyz_train.values[:,:-1]
Y_train=xyz_train.values[:,-1]
Y_train=Y_train.astype(int)
print(Y_train)

[0 1 0 ... 0 0 0]

In [112]:
X_test=xyz_test.values[:,:-1]
Y_test=xyz_test.values[:,-1]
Y_test=Y_test.astype(int)
print(Y_test)

[0 0 0 ... 0 0 0]

In [151]:
#SCALING

from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler()

scaler.fit(X_train)

X_train=scaler.transform(X_train)

X_test=scaler.transform(X_test)

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [ ]:
#LOGISTIC REGRESSION 

from sklearn.linear_model import LogisticRegression
#create a model
classifier = LogisticRegression()
#fitting training data to the model
classifier.fit(X_train,Y_train)

Y_pred = classifier.predict(X_test)

print(list(zip(Y_test,Y_pred)))
#this gives the slope of each varibale 
print(classifier.coef_)
#this gives a intercept 
print(classifier.intercept_)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score , classification_report

cfm = confusion_matrix(Y_test,Y_pred)

print(cfm)



print("classification_report: ")

print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test,Y_pred)

print("Accuracy of model:",acc)